.file-drop { 
    text-align: center;
    padding: 20px;
    border-color: darkslategray;
    border-width: 1px;
    border-style: dashed;
    margin: 10px 0;
    padding-top: 40px;
    padding-bottom: 30px;
    cursor: pointer;
}
.messages { margin: 0 }
.message {
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
}
.assistant-message {
    background-color: rgb(196 255 122 / 10%);
}
.user-message { background-color: rgb(178 194 255 / 10%) }
.agent-task h2 { font-size: 1em; font-weight: 500;}
.messages h1 { font-size: 1.5em; font-weight: bold; }
.complete h2 { color: #c0d6c5 } 
.user-input { margin-top: 20px; margin-bottom: 20px; }

.text-bg-success { background-color: #90d28b}
.dataset-info-wrapper button { margin-right: 10px; margin-bottom: 10px; }
