.file-drop { 
    text-align: center;
    padding: 20px;
    border-color: darkslategray;
    border-width: 1px;
    border-style: dashed;
    margin: 10px 0;
    padding-top: 40px;
    padding-bottom: 30px;
    cursor: pointer;
}
.messages { margin: 0 }
.message {
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
}
.assistant-message {
    background-color: rgb(196 255 122 / 10%);
}
.function-message { padding: 0; }
.function-message .show { margin-bottom: 10px; }
.user-message { background-color: rgb(178 194 255 / 10%) }
.agent-task h2 { font-size: 1em; font-weight: 500;}
.messages h1 { font-size: 1.5em; font-weight: bold; }
.complete h2 { color: #c0d6c5 } 
.user-input { margin-top: 20px; margin-bottom: 20px; }

.text-bg-success { background-color: #90d28b}
.dataset-info-wrapper button { margin-right: 10px; margin-bottom: 10px; }
.rdt_Pagination svg { fill: #FFF !important; }
button small { font-size: 0.6em; }
h1 small { font-size: 0.5em; }
.no-bottom-margin { margin-bottom: 0; }
.no-bottom-padding { padding-bottom: 0 !important; }

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4caf50;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}