annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
attrs
certifi
cffi
charset-normalizer
distro
Django
django-cors-headers
django-filter
django-picklefield
djangorestframework
drf-spectacular
dwca-writer
et-xmlfile
gunicorn==23.0.0
h11
httpcore
httpx
idna
inflection
jsonschema
jsonschema-specifications
minio
numpy
openai
openpyxl
pandas
psycopg2-binary
pycparser
pycryptodome
pydantic
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
six
sniffio
sqlparse
tenacity
tqdm
typing_extensions
tzdata
uritemplate
urllib3
utm
xlrd
xmltodict
